<h1> Videos </h1>

<% @videos.each do |video| %>
  <p><%= video.title %>, <%= video.artist %></p>
  <iframe width="560" height="315" src="<%= convert_url(video.url) %>" frameborder="0" allowfullscreen></iframe> 
<% end %>